<%- include("./header.ejs", {pageName: "Cases"}); %>
          <!-- Row -->
          <div class="row">

            <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Cases data</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                      <tr>
                        <th>Id</th>
                        <th>Case</th>
                        <th>Text</th>
                        <th>Img</th>
                        <th>Delete</th>
                        <th>Update</th>
                        <th>
                          <a href="#" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
                            <i class="fas fa-solid fa-plus"></i>
                          </a>
                        </th>
                      
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Id</th>
                        <th>Case</th>
                        <th>Text</th>
                        <th>Img</th>
                        <th>Delete</th>
                        <th>Update</th>
                        <th>
                          <a href="#" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
                            <i class="fas fa-solid fa-plus"></i>
                          </a>
                        </th>
                      </tr>
                    </tfoot>
                    <tbody>
                   <% cases_data.forEach( function(elem) {%>
                      <tr>
                        <td name="idcard"><%-elem._id%></td>
                        <td><%-elem.case%></td>
                        <td><%-elem.text%></td>
                        <td><%-elem.img%></td>
                        <td>
                          <a href="#" onclick="deletecard(id)"  id="<%-elem._id%>" class="btn btn-danger">
                 <i class="fas fa-trash"></i></a>
                        </td>
                        <td>
                          <a href="#" onclick="updateCard(id)" id="<%-elem._id%>" class="btn btn-info" >
                            <i class="fas fa-pen"></i>
                          </a>
                          
                        </td>
                        
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!--Row-->

          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Case Create </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <input class="form-control  mb-3" type="text" id="valueCase" placeholder="type case number">
                  <input class="form-control  mb-3" type="text" id="valueText" placeholder="type text">
                  <input class="form-control  mb-3" type="text" id="valueImg" placeholder="type ImgAddress">
                </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                <button type="button" onclick="createCase(valueCase, valueText, valueImg)" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

        <%- include("./footer.ejs"); %>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/ruang-admin.min.js"></script>
  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script>
    $(document).ready(function () {
      $('#dataTable').DataTable(); // ID From dataTable 
      $('#dataTableHover').DataTable(); // ID From dataTable with Hover
    });

      async function postData(url = '', data = {}) {
          // Default options are marked with *
          const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
              'Content-Type': 'application/json'
              // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
            body: JSON.stringify(data) // body data type must match "Content-Type" header
          });
          return response.json(); // parses JSON response into native JavaScript objects
      }
    
    function createCase(caseNum, text, img){
      postData('http://localhost:3000/cases', {  "case": caseNum.value, "text": text.value, "img": img.value})
        .then((data) => {
          console.log(data); // JSON data parsed by `data.json()` call
        });
        location.reload();
    }
    
      async function deleteData(url = '', id = ""){
        const response = await fetch(url + "/"+id, {
              method: 'DELETE', // *GET, POST, PUT, DELETE, etc.
              mode: 'cors', // no-cors, *cors, same-origin
              cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
              credentials: 'same-origin', // include, *same-origin, omit
              headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
              },
              redirect: 'follow', // manual, *follow, error
              referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
              // body: JSON.stringify(data) // body data type must match "Content-Type" header
            });
            return response.json(); 
      }

      function deletecard(datas){
        deleteData('http://localhost:3000/cases',  datas )
          .then((data) => {
            console.log(data);
          });
          location.reload();
      }
  </script>

</body>

</html>