<%- include('./header.ejs',{classMain: 'main-layout inner_page'});   %>

      <!-- end header -->
    <script src="app.js"></script>
    <!-- cases -->
    
      <div class="cases">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center ">
                     <h2>Take Action</h2>
                     <p>making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful</p>
                  </div>
               </div>
            </div>
            <div class="row d_flex">
               <%CASES_ACTION.forEach((item) => {%>
                  <div class=" col-md-4">
                     <div class="latest text_align_center">
                        <figure><img src="<%=item.img%>" alt="#"/></figure>
                        <div class="nostrud">
                           <h3><%=item.case%></h3>
                           <p><%=item.text%></p>
                        </div>
                     </div>
                  </div>
               
               <%})%>
            </div>
         </div>
      </div>

      <!-- end cases -->
      <!--  footer -->
  <%- include('./footer.ejs'); %>